
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200);">
</div>

<div class="container d-flex" style="position: absolute; top:30%; left:10%;">
  <div class="flex-column col-8 me-3">
    <div class="bg-light p-3">
      <h2 class="fs-2 fw-bold"><%= @flat.name %></h2>
      <p class="fs-5"><%= @flat.address %></p>
    </div>
    <div class="bg-light p-3 mt-2">
      <h2 class="fs-2 fw-bold">A bit more about this flat...</h2>
      <p class="fs-5"><%= @flat.description %></p>
    </div>
    <div class="bg-light p-3 mt-2">
      <h2 class="fs-2 fw-bold">Details</h2>
      <i class="fa-sharp fa-solid fa-users me-1"></i><%= @flat.number_of_guests  %>
      <i class="fa-solid fa-euro-sign me-1 ms-2"></i><%= @flat.price_per_night %>
    </div>
  </div>
    <div class="bg-light col-3 p-3 mt-2">
      <p><strong>Book this place!</strong></p>
      <form action="#">
        <div class="d-flex flex-column">
          <div class="flex-row">
            <label for="from" class="w-25">From: </label>
            <input type="date" name="from" class="form-control">
          </div>
          <div class="flex-row">
          <label for="to">To: </label>
          <input type="date" name="to" class="form-control">
          </div>
          <button type="submit"class="btn btn-success mt-1">Book</button>
        </div>
      </form>
    </div>
</div>
